.skill {
  text-transform: capitalize;
  color: #777;
}

.mainSkill {
  text-decoration: underline;
}

.skill::before {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  content: '';
  position: absolute;
  margin-left: -35px;
}

.level {
  text-transform: capitalize;
}

/* frontend skills list */
.react\.js {
  color: #c61019;
}

.css {
  color: #fbd9db;
}

.javascriptfe {
  color: #f49398;
}

.node\.js {
  color: #f3bcbf;
}

.uxui {
  color: #fa6c73;
}

.html {
  color: #ff323c;
}

.swift {
  color: #91030a;
}

.angular1 {
  color: #d9aa00;
}

.accessibility {
  color: #fbdf7a;
}

.sass {
  color: #ffc800;
}

.less {
  color: #d1f1c2;
}

.javascriptbe {
  color: #a6e489;
}

.javascriptfs {
  color: #5ac328;
}

.angular24typescript {
  color: #428e1d;
}

.hybridmobile {
  color: #2d6313;
}

/* backend skills list */
.ecommerce {
  color: #d1e6fa;
}

.redux {
  color: #a4cff8;
}

.java {
  color: #61b1fd;
}

.sql {
  color: #2897ff;
}

.nosql {
  color: #1c70be;
}

.docker {
  color: #124b7f;
}

.iosswift {
  color: #e5d5f8;
}

.php {
  color: #d0adfa;
}

.\.net {
  color: #b47afa;
}

.android {
  color: #a050ff;
}

.c\# {
  color: #773bbf;
}

.spring {
  color: #fcc9eb;
}

.aws {
  color: #fda0de;
}

.azure {
  color: #ff6ecf;
}

.hybridmobile {
  color: #d83ea5;
}

.gcp {
  color: #a51f79;
}

/* delivery skills list */
.scrumagile {
  color: #dedede;
}

.deliverymanagement {
  color: #b8b6b6;
}

.productownership {
  color: #8c8a8a;
}

.magento {
  color: #595959;
}

.businessanalysis {
  color: #323232;
}

.technicalanalysis {
  color: #c1f2e7;
}

.businessintelligence {
  color: #81e1cc;
}

.productmanagement {
  color: #1ed3ab;
}

.webanalytics {
  color: #14b08e;
}

.hybris {
  color: #0d7e65;
}

/* Frontend Skills BEFORE */
.react\.js .skill::before {
  background-color: #C61019;
}

.css .skill::before {
  background-color: #fbd9db;
}

.javascriptfe .skill::before {
  background-color: #f49398;
}

.node\.js .skill::before {
  background-color: #f3bcbf;
}

.uxui .skill::before {
  background-color: #fa6c73;
}

.html .skill::before {
  background-color: #ff323c;
}

.swift .skill::before {
  background-color: #91030a;
}

.angular1 .skill::before {
  background-color: #d9aa00;
}

.accessibility .skill::before {
  background-color: #fbdf7a;
}

.sass .skill::before {
  background-color: #ffc800;
}

.less .skill::before {
  background-color: #d1f1c2;
}

.javascriptbe .skill::before {
  background-color: #a6e489;
}

.javascriptfs .skill::before {
  background-color: #5ac328;
}

.angular24typescript .skill::before {
  background-color: #428e1d;
}

.hybridmobile .skill::before {
  background-color: #2d6313;
}

/* backend skills before */
.ecommerce .skill::before {
  background-color: #d1e6fa;
}

.redux .skill::before {
  background-color: #a4cff8;
}

.java .skill::before {
  background-color: #61b1fd;
}

.sql .skill::before {
  background-color: #2897ff;
}

.nosql .skill::before {
  background-color: #1c70be;
}

.docker .skill::before {
  background-color: #124b7f;
}

.iosswift .skill::before {
  background-color: #e5d5f8;
}

.php .skill::before {
  background-color: #d0adfa;
}

.\.net .skill::before {
  background-color: #b47afa;
}

.android .skill::before {
  background-color: #a050ff;
}

.c\# .skill::before {
  background-color: #773bbf;
}

.spring .skill::before {
  background-color: #fcc9eb;
}

.aws .skill::before {
  background-color: #fda0de;
}

.azure .skill::before {
  background-color: #ff6ecf;
}

.hybridmobile .skill::before {
  background-color: #d83ea5;
}

.gcp .skill::before {
  background-color: #a51f79;
}

/* delivery skills before */
.scrumagile .skill::before {
  background-color: #dedede;
}

.deliverymanagement .skill::before {
  background-color: #b8b6b6;
}

.productownership .skill::before {
  background-color: #8c8a8a;
}

.magento .skill::before {
  background-color: #595959;
}

.businessanalysis .skill::before {
  background-color: #323232;
}

.technicalanalysis .skill::before {
  background-color: #c1f2e7;
}

.businessintelligence .skill::before {
  background-color: #81e1cc;
}

.productmanagement .skill::before {
  background-color: #1ed3ab;
}

.webanalytics .skill::before {
  background-color: #14b08e;
}

.hybris .skill::before {
  background-color: #0d7e65;
}
