$break-medium: 1000px;

.teamboxHeader {
  color: #555;
  position: absolute;
  top: 60px;
  text-align: center;
  width: 100%;
  left: 0px;

  @media screen and (min-width: $break-medium) {
    top: 110px;
    text-align: left;
    font-size: 40px;
    left: 1%;
  }
}

.imgBanner {
  background: url('../../../images/header-background.png');
  height: 250px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  transition: height 0.5s;

  @media screen and (min-width: $break-medium) {
    height: 400px;
  }
}

.and {
  color: red;
  text-transform: uppercase;
}

.tagLine {
  float: left;
  font-size: 50px;
  color: #555;
  position: absolute;
  top: 100px;
  left: 0px;
  height: 50px;
  margin: 0px;
  text-align: center;
  width: 100%;

  @media screen and (min-width: $break-medium) {
    height: 400px;
    top: 175px;
    font-size: 72px;
    left: 1%;
    text-align: left;
    width: auto;
  }
}
