$break-small: 620px;
$break-medium: 1000px;
$break-large: 1350px;

.count {
  margin: auto;
  font-size: 18px;
  width: 90%;
  color: #555;
  text-decoration: underline;
  text-decoration-color: red;
  margin-bottom: 15px;

  @media screen and (min-width: $break-small) {
    width: 60%;
  }

  @media screen and (min-width: $break-medium) {
    width: 90%;
  }

  @media screen and (min-width: $break-large) {
    width: 60%;
  }
}
