$break-medium: 1000px;

.searchButton {
  width: 90%;
  background: #ff323d;
  background-size: 45px;
  padding: 10px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  color: white;
  text-align: center;
  font-size: 24px;
  margin: auto;
  margin-top: 5px;

  @media screen and (min-width: $break-medium) {
    width: 8%;
    background-image: url('../../../images/musica-searcher.svg');
    display: inline-block;
    float: right;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    height: 60px;
  }
}


.searchButton::after {
  text-transform: uppercase;
  content: 'search'
}

@media screen and (min-width: $break-medium) {
  .searchButton::after {
    content: ''
  }
}
