$break-medium: 1000px;

.navLink {
  color: #555555;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  padding: 5px;
  margin-right: 20px;
  text-decoration: none;
  float: right;
  height: 74px;
  position: relative;
  margin-top: -6px;
  padding-top: 10px;

  @media screen and (max-width: $break-medium) {
    color: white;
    display: block;
    float: none;
  }
}

.navLink:hover {
  color: #000000;
  border-top: 2px solid red;
  height: 74px;
  top: 0px;
  margin-top: -8px;

  @media screen and (max-width: $break-medium) {
    color: #ddd;
  }
}
