.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: red;
  display: inline-block;
  float: left;
  background: url('../../../images/logo.png');
  background-size: 100%;
  width: 159px;
  height: 30px;
}
