$break-medium: 1000px;

@font-face {
  font-family: 'Lineto Regular';
  src: url("../../../fonts/lineto-brown-pro-regular.woff2"); }

.searchInput {
  width: 89%;
  height: 40px;
  font-size: 20px;
  padding: 10px;
  border: none;
  background-color: #faf9f9;
  font-family: 'Lineto Regular';
  color: #aaa;
  display: block;
  margin: auto;

  @media screen and (min-width: $break-medium) {
    float: left;
    margin: 0px;
  }
}
