$break-small: 620px;
$break-medium: 1000px;
$break-large: 1350px;

.profileImage {
  height: 120px;
  width: auto;
  border-radius: 50%;
  display: inline-block;
  top: 0px;
  position: absolute;
}

.detailsContainer {
  display: inline-block;
  margin-left: 15px;
  top: -10px;
  position: absolute;
  left: 120px;
}

.profileClub {
  color: #9B9C9B;
  font-size: 22px;
  font-weight: 100;
  margin-top: -20px;
}

.profileClub::before {
  content: 'Club ';
}

.profileName {
  text-transform: capitalize;
  max-width: 220px;
  font-size: 24px;

  @media screen and (min-width: $break-small) {
    font-size: 34px;
  }
}

.profileDetails {
  width: 100%;
  position: static;
  display: block;
  height: 120px;
  margin-top: 30px;

  @media screen and (min-width: $break-medium) {
    width: 45%;
    display: inline-block;
    position: relative;
    height: auto;
    margin-top: 0px;
  }
}
