$break-small: 620px;
$break-medium: 1000px;
$break-large: 1350px;

.navBar {
  height: 30px;
  padding: 10px 20px;
  box-shadow: 0px 3px 3px rgba(0,0,0,.2);
  position: relative;
}

@media screen and (min-width: $break-medium) {
  input {
    display: none;
  }

  ul {
    margin-top: -16px;
  }
}

@media screen and (max-width: $break-medium) {
  .menuToggle {
    display: block;
    position: fixed;
    top: 13px;
    right: 10px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  .menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
    opacity: 0.01;
  }

  .menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    left: 0px;
    background: red;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease,
                left 0.5s;
  }

  .menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  .menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  .menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: white;
  }

  .menuToggle input:checked ~ span {
    left: 10px;
  }

  .menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  .menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  .menu {
    position: absolute;
    width: 200px;
    margin: -100px 0 0 -255px;
    padding: 50px;
    padding-top: 125px;
    background: red;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  .menuToggle input:checked ~ ul {
    transform: none;
  }
}
