$break-small: 620px;
$break-medium: 1000px;
$break-large: 1350px;

.listing {
  position: relative;
  border-bottom: 1px solid red;
  width: 90%;
  margin: auto;
  height: 280px;

  @media screen and (min-width: $break-small) {
    width: 60%;
    height: 340px;
  }

  @media screen and (min-width: $break-medium) {
    height: 170px;
    width: 90%;
  }

  @media screen and (min-width: $break-large) {
    height: 170px;
    width: 60%;
    margin-bottom: 30px;
  }
}
