$break-medium: 1000px;

.textIntro {
  text-align: center;
  line-height: 20px;
  line-height: 59px;
}

.textContent {
  font-size: 40px;
  color: #555;
  max-width: 90%;
  margin: auto;
  padding-top: 50px;
  font-weight: bold;

  @media screen and (min-width: $break-medium) {
    font-size: 60px;
  }
}

.introTagline {
  color: red;
  display: block;
  font-size: 22px;
  line-height: 22px;
  margin-top: 16px;

  @media screen and (min-width: $break-medium) {
    font-size: 36px;
    line-height: 36px;
  }
}
