@font-face {
  font-family: 'Lineto Bold';
  src: url('../../fonts/lineto-brown-pro-bold.woff2');
}

@font-face {
  font-family: 'Lineto Regular';
  src: url('../../fonts/lineto-brown-pro-regular.woff2');
}

.App {
  align-items: center;
  color: red;
  font-family: 'Lineto Regular';
  padding-bottom: 40px;
}

.message {
  color: #888;
  text-align: center;
  width: 100%;
  font-size: 24px;
  margin-top: -20px;
  margin-bottom: 20px;
}
