$break-medium: 1000px;

.SkillsList {
  width: 80%;
  display: block;
  top: 25px;
  position: static;
  font-size: 24px;
  margin-left: 0px;
  margin: auto;
  margin-top: 20px;

  @media screen and (min-width: $break-medium) {
    width: 45%;
    display: inline-block;
    position: absolute;
    margin-left: 20%;
    margin-top: 0px;
  }

  div {
    margin-bottom: 8px;
  }
}
