body {
  padding: 30px;
}

a {
  display: block;
}

.app-name {
  font-size: 30px;
  color: gray;
  text-align: center;
}

.packages:before {
  content: 'Packages used -';
  font-size: 18px;
  color: gray;
  margin-top: 20px;
  text-align: center;
  display: block;
}

.authors {
  text-align: center;
  font-size: 22px;
}

.authors:before {
  content: 'Built by -';
  display: block;
  font-size: 16px;
}

.packages ul {
   column-count: 3;
}

li {
  list-style: none;
}

.defines {
  margin-top: 20px;
  font-weight: bold;
}

.file {
  margin: 10px;
  background: #ddd;
  padding: 30px;
  border-radius: 10px;
}

.function {
  font-size: 30px;
  margin-top: 10px;
}

.property:before {
  content: 'Property ';
  color: grey;
}

.returns:before {
  content: 'Returns ';
  color: grey;
}

.param:before {
  content: 'Parameter ';
  color: grey;
}

.function:before {
  content: 'Function ';
  color: grey;
}
