$break-small: 620px;

.footer {
  position: static;
  color: #FFFFFF;
  background: #323232;
  min-height: 20px;
  padding: 20px;
  margin-top: 40px;

  @media screen and (min-width: $break-small) {
    position: fixed;
    bottom: 0px;
    margin-top: 0px;
    width: 100%;
  }

  div {
    display: inline-block;
    margin-right: 5px;
  }

  a {
    color: red;
    margin-left: 10px;
    text-decoration: none;
    border-bottom: 1px solid red;

    &:hover {
      color: white;
      border-bottom: 1px solid white;
    }
  }
}
