$break-medium: 1000px;

.searchBar {
  margin-top: 30px;
  max-width: 90%;
  margin: auto;
  position: relative;
  height: 200px;
  margin-top: 65px;

  @media screen and (min-width: $break-medium) {
    height: 130px;
  }
}
